<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-left">
                <h3>Shaxzodbek's Blog</h3>
                <p>A showcase of my projects, articles, and professional journey.</p>
                <div class="social-links">
                    <a href="https://github.com/Shaxzodbek16" target="_blank" aria-label="GitHub"><i
                            class="fab fa-github"></i></a>
                    <a href="https://linkedin.com/in/shaxzodbek-muxtorov-59144a294" target="_blank"
                       aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
                    <a href="https://t.me/tmshaxzodbek" target="_blank" aria-label="Telegram"><i
                            class="fab fa-telegram"></i></a>
                    <a href="https://www.youtube.com/@Shaxzodbek16" target="_blank" aria-label="YouTube"><i
                            class="fab fa-youtube"></i></a>
                    {% if cv.file %}
                        <a href="{{ cv.file.url }}" download aria-label="CV">CV</a>
                    {% endif %}
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-links">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/post/">Post</a></li>
                        <li><a href="/projects/">Projects</a></li>
                        <li><a href="/certifications/">Certifications</a></li>
                    </ul>
                </div>
                <div class="footer-contact">
                    <h4>Contact</h4>
                    <p><i class="fas fa-envelope"></i>muxtorovshaxzodbek16@gmail.com</p>
                    <p><i class="fas fa-map-marker-alt"></i> Tashkent, Uzbekistan</p>
                    <p><i class="fas fa-phone"></i> +998 91 526 01 12</p>
                    <p><a href="https://wakatime.com/@018e9ffe-32fb-43d8-b2c6-d0499aeb695b"><img src="https://wakatime.com/badge/user/018e9ffe-32fb-43d8-b2c6-d0499aeb695b.svg" alt="Total time coded since Apr 2 2024" /></a></p>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; <span id="current-year"></span> shaxzodbek.com</p>
        </div>
    </div>
</footer>