{% extends 'parts/base.html' %}
{% load static %}
{% block extra_meta %}
    <link rel="stylesheet" href="{% static 'cv/css/about_me.css' %}">
    <link rel="stylesheet" href="{% static 'parts/search.css' %}">
{% endblock %}
{% block header %}
    {% include 'parts/search.html' %}
{% endblock %}
{% block extra_info %}
    <div class="about_me">
        {% for info in information %}
            <p>{{ info.title }}</p>
            <p>{{ info.description }}</p>
            {% if info.image %}
                <img src="{{ info.image.url }}" alt="{{ info.title }}">
            {% endif %}
            {% if info.extra_data %}
                <p>{{ info.extra_data }}</p>
            {% endif %}
            {% if info.location %}
                <p>{{ info.location }}</p>
            {% endif %}
            <p>{{ info.created }}</p>
        {% endfor %}
    </div>
{% endblock %}