{% extends 'parts/base.html' %}
{% load static %}
{% block extra_meta %}
    <link rel="stylesheet" href="{% static 'cv/css/cv.css' %}">
{% endblock %}
{% block title %}Name{% endblock %}
{% block content %}
    <div class="cv">
        <div class="cv__title">{{ cv.title }}</div>
        <div class="cv__img-container">
            {% for pic in cv.picture.all %}
                <div class="cv__img active">
                    <img src="{{ pic.image.url }}" alt="{{ pic.name }}">
                </div>
            {% endfor %}
            <button class="cv__img-nav cv__img-nav--prev">&lt;</button>
            <button class="cv__img-nav cv__img-nav--next">&gt;</button>
        </div>
        <div class="cv__content">
            <div class="cv__description">
                {{ cv.description }}
            </div>
            <div class="cv__technologies">
                {% for tech in cv.technologies.all %}
                    <span class="cv__technologies__technology">{{ tech.name }}</span>
                {% endfor %}
            </div>
            {% if  cv.is_working %}
                <div class="cv__technologies__path">
                    <a href="{{ cv.path }}">project_name</a>
                </div>
            {% endif %}
            <div class="cv__created-date">
                <p>{{ cv.created_at }}</p>
            </div>
        </div>
    </div>
{% endblock %}


