{% extends 'parts/base.html' %}
{% load static %}
{% block extra_meta %}
    <link rel="stylesheet" href="{% static 'cv/css/cvs.css' %}">
    <link rel="stylesheet" href="{% static 'parts/search.css' %}">
{% endblock %}
{% block title %}People{% endblock %}
{% block header %}
{% include 'parts/search.html' %}
{% endblock %}

{% block content %}
        <div class="cvs-container">
        {% for cv in cvs %}
        <div class="cv">
            <a href="{{ cv.slug }}">
                <img src="{{ cv.picture.all.first.image.url }}" alt="{{ cv.title }}">
                <div class="cv__texts">
                    <p class="cv__texts__title">
                        {{ cv.title }}
                    </p>
                    <p class="cv__texts__description">
                        {{ cv.description }}
                    </p>
                    <p class="cv__texts__created">
                        {{ cv.created_at }}
                    </p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}

