{% extends "parts/base.html" %}
{% block title %}Articles{% endblock %}
{% load static %}
{%  block extra_meta %} 
    <link rel="stylesheet" href="{% static 'parts/search.css' %}">
{% endblock %}
{% block header %}
    {% include 'parts/search.html' %}
{% endblock %}
{% block content %}

    <div class="articles-list">
        {% for year, data in grouped_articles.items %}
            <div class="year">
                <span class="year-span">{{ year }}</span>
                {% for month, articles in data.items %}
                    <div class="month">
                        <h2>{{ month }}</h2>
                        {% for article in articles %}
                            <a href="{{ article.slug }}">
                                <div class="article">
                                    <div class="article-header">
                                        <span class="date">{{ article.created }}</span>
                                    </div>
                                    <p>{{ article.title }}</p>
                                </div>
                                <span class="arrow">→</span>
                            </a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
