{% extends 'parts/base.html' %}
{% load static %}
{%  block title %}Articles{% endblock %}

{%  block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/articles.css' %}">
{% endblock %}

{% block content %}
    <main class="blog_page">
  <div class="header">
    <h1>Blog</h1>
    <div class="search-container">
      <input type="text" placeholder="Search">
      <i class="fas fa-search search-icon"></i>
    </div>
  </div>

  <div class="blog-grid">
    <a style="text-decoration: none" href="" ><div class="blog-item">
      <div class="blog-content">
        <div class="blog-date">10 June, 2024</div>
        <h2 class="blog-title">Avtomatlashtiring</h2>
      </div>
      <i class="fas fa-arrow-right arrow-icon"></i>
    </div></a>

  </div>

  <div class="pagination">
    <button><i class="fas fa-chevron-left"></i></button>
    <button class="active">1</button>
    <button>2</button>
    <span class="dots">...</span>
    <button>9</button>
    <button>10</button>
    <button><i class="fas fa-chevron-right"></i></button>
  </div>
</main>
{% endblock %}

