{% extends 'parts/base.html' %}
{% load static %}
{% block extra_meta %}
    <link rel="stylesheet" href="{% static 'parts/search.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/books.css' %}">
{% endblock %}
{% block title %}Books{% endblock %}
{% block header %}
    {% include 'parts/search.html' %}
{% endblock %}
{% block content %}
    {% if books %}
        {% for book in books %}
            <div class="blog-card">
                <div class="meta">
                    <div class="photo" style="background-image: url({{ book.picture.url }})"></div>
                    <ul class="details">
                        {% for author in book.author.all %}
                            <li class="author">{{ author.first_name }} {{ author.last_name }}</li>
                        {% endfor %}
                        <li class="date">{{ book.programming_language.name }}</li>
                        <li class="tags">
                            <ul>
                                {% for category in book.category.all %}
                                    <li>{{ category.name }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="description">
                    <h2>{{ book.title }}</h2>
                    <p>{{ book.purpose }}</p>
                    <p class="read-more">
                        <a href="{{ book.book.url }}" download>Download</a>
                    </p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1 style="margin-top: 50px; color: #7f8c8d">No Books found{% if current_value %} by {{ current_value }}{% endif %}.</h1>
    {% endif %}
{% endblock %}