{% extends 'parts/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/home.css' %}">
{% endblock %}
{% block content %}
    <header>
        <div class="content">
            <div class="content-text">
                <h1>I am {{ age }} years old <br>Muxtorov Shaxzodbek<br>Python <br> Software Engineer</h1>
                <div class="content-buttons">
                    <a href="{% url 'articles' %}">Read Blog</a>
                    <a href="{% url 'about_me' %}">About Me</a>
                    {% if request.user.is_staff %}
                        <a href="{% url '_csrf_exempt_' %}">About her</a>
                    {% endif %}
                </div>
            </div>
            <div class="content-image">
{#                <img src="{% static 'blog/img/shaxzodbek.png' %}" alt="Hero Image">#}
            </div>
        </div>
    </header>
{% endblock %}
{% block extra_content %}
    {% if videos %}
    <main class="videos">
        <div class="videos__title">
            <h1 class="videos__heading">Videos</h1>
            <div class="videos__underline">
                <svg viewBox="0 0 1000 100" preserveAspectRatio="none">
                    <path d="M0,40 Q500,0 1000,40"></path>
                </svg>
            </div>
        </div>

        <div class="videos__container">
            {% for video in videos %}
            <div class="videos__card">
                <div class="videos__card-image videos__card-image--analytics">
                    <img src="{{ video.thumbnail.url }}" alt="{{ video.title }}">
                </div>
                <div class="videos__card-content">
                    <h3 class="videos__card-title">{{ video.title }}</h3>
                    <p class="videos__card-text">{{ video.description }}</p>
                    <div class="videos__card-footer">
                        <span class="videos__card-date">{{ video.created_at.date }}</span>
                        <a class="videos__card-button" href="{{ video.url }}" target="_blank">Watch Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
    {% endif %}
{% endblock %}
{% block extra_content_2 %}
        <main class="book">
        <div class="book__title">
            <h1 class="book__heading">Books</h1>
            <div class="book__underline">
                <svg viewBox="0 0 1000 100" preserveAspectRatio="none">
                    <path d="M0,40 Q500,0 1000,40"></path>
                </svg>
            </div>
        </div>

        <div class="book__container">
            {% for book in books %}
            <div class="book__card">
                <div class="book__image-wrapper">
                    <img src="{{ book.picture.url }}" alt="{{ book.title }}" class="book__image">
                </div>
                <div class="book__content">
                    <h2 class="book__card-title">{{ book.title }}</h2>
                    <p class="book__card-description">{{ book.purpose }}</p>

                    <div class="book__info">
                        <p><span>Authors:</span>
                            {% for author in book.authors.all %}
                                {{ author }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}.
                        </p>
                        <p><span>Categories:</span>
                            {% for category in book.categories.all %}
                                {{ category }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}.
                        </p>
                        <p><span>Programming Languages:</span> {{ book.programming_language }}.</p>
                        <p>{{ book.download_count }} <span>users download this book! </span></p>
                    </div>

                    <a href="{% url 'download_book' book.slug %}" download class="book__read-button">Read Now</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block footer %}
    {% include 'parts/footer.html' %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'blog/js/home.js' %}"></script>
{% endblock %}
