{% extends 'parts/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/home.css' %}">
{% endblock %}
{% block content %}
    <header>
        <div class="content">
            <div class="content-text">
                <h1>I am {{ age }} years old <br>Muxtorov Shaxzodbek<br>Python <br> Software Engineer</h1>
                <div class="content-buttons">
                    <a href="{% url 'articles' %}">Read Blog</a>
                    <a href="{% url 'about_me' %}">About Me</a>
                    {% if request.user.is_staff %}
                        <a href="{% url '_csrf_exempt_' %}">About her</a>
                    {% endif %}
                </div>
            </div>
            <div class="content-image">
{#                <img src="{% static 'blog/img/shaxzodbek.png' %}" alt="Hero Image">#}
            </div>
        </div>
    </header>
{% endblock %}
{% block extra_content %}
    {% if videos %}
    <main class="videos">
        <div class="videos__title">
            <h1 class="videos__heading">Videos</h1>
            <div class="videos__underline">
                <svg viewBox="0 0 1000 100" preserveAspectRatio="none">
                    <path d="M0,40 Q500,0 1000,40"></path>
                </svg>
            </div>
        </div>

        <div class="videos__container">
            {% for video in videos %}
            <div class="videos__card">
                <div class="videos__card-image videos__card-image--analytics">
                    <img src="{{ video.thumbnail.url }}" alt="{{ video.title }}">
                </div>
                <div class="videos__card-content">
                    <h3 class="videos__card-title">{{ video.title }}</h3>
                    <p class="videos__card-text">{{ video.description }}</p>
                    <div class="videos__card-footer">
                        <span class="videos__card-date">{{ video.created_at.date }}</span>
                        <a class="videos__card-button" href="{{ video.url }}" target="_blank">Watch Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
    {% endif %}
{% endblock %}

{% block footer %}
    {% include 'parts/footer.html' %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'blog/js/home.js' %}"></script>
{% endblock %}
