{% extends 'parts/base.html' %}
{% load static %}

{% block title %}Video{% endblock %}
{% block content %}
{% for video in videos %}
    <div class="blog-posts">
        <a href="{{ video.url }}" class="blog-post-link" target="_blank">
            <div class="blog-post">
                <img src="{{ video.thumbnail.url }}" alt="{{ video.title }}" class="blog-post-image">
                <div class="blog-post-content">
                    <p class="blog-post-date">{{ video.created }}</p>
                    <h2 class="blog-post-title">{{ video.title }}</h2>
                </div>
                <span class="blog-post-arrow">→</span>
            </div>
        </a>
    </div>
{% endfor %}
{% endblock %}



