<nav>
    <div class="nav-container">
        <h1><a href="/" style="text-decoration: none; color: black">Shaxzodbek's Blog</a></h1>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="nav-menu">
            <li><a href="{% url 'articles' %}">Blog</a></li>
            <li><a href="{% url 'video' %}">Videos</a></li>
            <li><a href="https://t.me/muxtorovshaxzodbek" target="_blank">Channel</a></li>
            <li><a href="{% url 'books' %}">Books</a></li>
            <li><a href="{% url 'connections' %}">Connections</a></li>
            <li><a href="{% url 'cvs' %}">CV</a></li>
        </ul>
    </div>
</nav>
